p { 
margin: 100px;
color: blue;
}
span {
  margin: 10px;
  color: blue;
}

h1 {
  text-align: center; color: rgb(168, 146, 57);
  font-size: 40px;
}

img {
  width: 100px;
  height: auto;
  float: left;
  margin: 50px;
}

nav {
  float: left;
  margin: 80px;
  position: absolute;
  right: -50px;
}

li {
  text-decoration: ;
}
ol { 
  list-style-type: decimal;
  margin-left: 40px;
}

ul {
  /* list-style-type: decimal; */
  margin-right: 40px;
}

body {
  margin: 20px 35px;
  padding: 5px;
  border: 2px dotted blue;
  background-color: rgb(168, 146, 57);

}